.about-intro
  +title('h1', 'about-header').title_1.about-intro__header Обо мне
  figure.about-intro__img-wrapper
    img.about-intro__img(src='assets/img/photo.jpg' alt='Савельев Андрей')
  .about-intro__text.about__text
    +title('h2').title_2.about-intro__title Кто я
    p Я веб разработчик из Москвы. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!